* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    width: 50%;
    height: 58vh;
    background:   hsl(207, 33%, 95%);
    float: right;
    border-bottom-left-radius: 50px;
}

.head {
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.fa-bars {
    font-size: 30px;
    margin-right: -75%;
}

.logo {
    margin-left: 30px;
}

.image1 {
    width: 100%;
    position: absolute;
    top: 10px;
    right: -152px;
    height: 20vh;
    overflow-x:hidden

}

.button1 {
    position: absolute;
    top: 450px;
    margin-left: 5%;
    background-color: black;
    color: white;
    font-size: 16px;
    width: 55px;
    height: 26px;
    border-radius: 20px;
    border: none;
    font-family: "barlow condensed";
}

.text1 {
    position: absolute;
    top: 453px;
    left: 26%;
    color: grey;
    font-size: 16px;
    font-family: "barlow condensed";
    word-spacing: 5px;
    letter-spacing: 4px;
}

.text2 {
    position: absolute;
    top: 490px;
    margin-left: 5%;
    font-size: 39px;
    font-family: "barlow condensed";
    font-weight: 600;
    word-spacing: 7px;
}

.text3 {
    position: absolute;
    top: 528px;
    margin-left: 5%;
    font-size: 39px;
    font-family: "barlow condensed";
    font-weight: 600;
    word-spacing: 5px;
}

.text4 {
    position: absolute;
    top: 590px;
    margin-left: 5%;
    font-family: "barlow condensed";
    color: grey;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 2px;
}

.text5 {
    position: absolute;
    top: 610px;
    margin-left: 5%;
    font-family: "barlow condensed";
    color: grey;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 2px;
}

.button2 {
    margin-left: 5%;
    width: 140px;
    height: 40px;
    border: none;
    background-color:  hsl(0, 100%, 68%);
    border-radius: 5px;
    color: white;
    font-family: "barlow condensed";
    position: absolute;
    top: 680px;
    font-weight: bold;
}

.button3 {
    margin-left: 5%;
    font-family: "barlow condensed";
    position: absolute;
    top: 687px;
    left: 154px;
    background-color: white;
    color: grey;
    border: none;
    width: 150px;
    word-spacing: 3px;
    letter-spacing: 2px;
    font-weight: lighter;
}

ol {
    display: none;
}

body{
    overflow-x:hidden
}
 
@media screen and (min-width: 1024px) {
    .fa-bars{
        display: none;
    }
}


    .image1{
        position: absolute;
        top: 236px;
        right: -237px;
        width: 65%;
        height: 65vh;
        overflow-x:hidden
    }

    ol{
        list-style: none;
    }


    .header {
        display: flex;
        /* justify-content: space-between; */
        /* margin-right: -350px; */
        margin-left: 1008px;
        font-family: "barlow condensed";
        font-weight: bold;
        position: absolute;
        word-spacing: 30px;
        letter-spacing: 1px;
        top: 63px;

    
    }

    .header2 {
        display: flex;
        justify-content: space-between;
        margin-right: -350px;
        margin-left: 1400px;
        font-family: "barlow condensed";
        font-weight: bold;
        color: grey;
        margin-top: -60px;
        font-size: 50px;
    }

    .header3 {
        display: flex;
        justify-content: space-between;
        margin-right: -371px;
        margin-left: 1415px;
        font-family: "barlow condensed";
        font-weight: bold;
        color: grey; 
        margin-top: -26px;
    }
    .button1 {
        margin-top: -152px;
    }

    .logo{
        margin-left: 55px;
    }

    .text1{
        margin-top: -152px;
        margin-left: -140px;
    }

    .text2{
        margin-top: -151px;
        font-size: 55px;
    }

    .text3{
        font-size: 55px;
        margin-top: -133px;
    }

    .text4{
        margin-top: -100px;
    }

    .text5{
        margin-top: -95px;
    }

    .button2{
        margin-top: -45px;
        font-size: 18px;
    }

    .button3{
        margin-top: -45px;
        font-size: 17px;
    }
}